/* estilo para formulario LOGIN */
*{
    font-family: 'Trebuchet MS';
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    border: none;
}
/* card  */
.div-login-container {
    /* height: 90%; */
    /* width: 100%; */
    border: none;
    height: 84.2vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* background-color: #f6f6f6; */
    background-color: #260606;
    /* margin: 30px; */
    /* padding: 30px; */
    padding-block: 50px;
    /* flex-direction: row; */
    /* font-family: 'Trebuchet MS'; */
    /* border:1px solid ; */
}

/* formulario login completo CARD*/
.div-form-login {
    display: flex;
    box-shadow: 0px 0px 60px rgb(247, 215, 6);
    /*sombra */
    background-color: white;
    /* margin: 80px; */
    /* margin-inline: 4vh; */
    /* margin: 50px; */
    /* padding: 3vh; */
    /* padding: 3vw; */
    /* padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px; */
    /* width: 72.5%; */
    border: 2px solid rgb(247, 215, 6);
    border-radius: 10px;
    height: 535px;
}

/* imagen del formualrio */
.container-img-form {
    display: flex;
    justify-content: center;
    /* margin-bottom: 50px; */

}
#div-img-form {
    width: 140px;
    /* Ajusta el ancho*/
    height: 140px;
    overflow: hidden;
    border: 2.5px solid rgb(233, 233, 233);
    border-radius: 90%;
    margin: 20px;
    margin-bottom: 5px;
    /* margin-left: 50px;
    margin-right: 50px; */
}
.img-form {
    width: 100%;
    height: 100%;
    /* Ajusta al 100% para llenar el contenedor cuadrado */
    object-fit: cover;
    /* Ajusta la imagen para cubrir completamente el contenedor */
    /* display: block; */
    /* border: 2px solid rgb(198, 198, 198); */
    /* border-radius: 50%; */
}

/* titulo del formulario */
.div-titulo-login {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 5px; */
    font-size: 25px;
    font-weight: bold;
}
.form-label{
    text-align: center;
}

/* input y txt usuario, contraseña */
.div-txt-input{
    margin-top: 20px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.div-lbl{
    font-size: 18px;
    padding-inline: 40px;
    /* width: 70%; */
    /* border: red solid 1px; */
}
.div-input{
    margin-top: 15px;
    display: flex;
    justify-content: start;
    /* padding-left: 30px; */
    padding-inline: 30px;
    width: 270px;
    /* border: red solid 1px; */
}
.input{
    padding: 15px;
    padding-block: 5px;
    padding-bottom: 8px;
    height: 20px;
    width: 100%;
    border: #d6d6d6 solid 2px;
    border-radius: 7px;
    font-size: 14px;
    transition: border-color 0.9s, box-shadow 0.3s;
}
.input:focus{
    border: #007bff solid 2px;
    outline: none;
}

/* btn login */
.div-btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
#btn-login {
    border: 2px solid #0d6efd;
    padding-right: 20px !important;
    padding-left: 20px !important;
}
#btn-login:hover {
    border: 2px solid #0b5ed7;
}
#btn-login:active {
    border: 2px solid white !important;
    border-radius: 8px;
}

.btn-login{
    margin: 10px;
    /* margin-top: 15px; */
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    /* margin-bottom: 20px; */
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(24, 144, 224);
    color:white;
    border: none;
    border-radius: 4px;
}

.btn-login:hover{
    background-color: rgb(17, 132, 208);
    cursor: pointer
}

.btn-login:active{
    background-color: rgb(2, 117, 194);
    cursor: pointer
}

.div-footer{
    display: flex;
    justify-content: center;
}
.parrafo{
    width: 90%;
    text-align: center;
    font-size: 14px;
}